html {
  font-size: 12px;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

button:focus {
  outline: 0px solid #fff;
}

.cursor-pointer {
  cursor: pointer;
}

.text-error {
  color: red;
}